<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.example.pandas">

    <application
            android:networkSecurityConfig="@xml/network_security_config"
            android:name="com.example.pandas.app.DiorApplication"
            android:allowBackup="true"
            android:icon="@mipmap/panda"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name="com.example.pandas.ui.activity.MainActivity"
                android:exported="true"
                android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.BehaviorActivity" />
        <activity android:name=".ui.activity.SearchActivity" />
        <activity android:name=".ui.activity.VerticalVideoActivity" />
        <activity android:name=".ui.activity.MoreDataListActivity" />
        <activity android:name=".ui.activity.AudioPlayActivity" />
        <activity android:name=".ui.activity.LocalCacheActivity" />
        <activity android:name=".ui.activity.HistoryActivity" />
        <activity android:name=".ui.activity.MessageActivity" />
        <activity android:name=".ui.activity.ErrorActivity" />
        <activity android:name=".ui.activity.PandaActivity" />
        <activity android:name=".ui.activity.VideoItemListActivity" />
        <activity android:name=".ui.activity.EyePlayingActivity" />
        <activity android:name=".ui.activity.SelfInfoActivity" />
        <activity android:name=".ui.activity.UserInfoActivity" />
        <activity android:name=".ui.activity.HomeActivity" />
        <activity android:name=".ui.activity.FollowAndFansActivity" />
        <activity android:name=".ui.activity.ListActivity" />
        <activity
                android:name=".ui.activity.VideoPlayingActivity"
                android:configChanges="keyboardHidden|orientation|screenSize" />

        <!--service-->
        <service android:name=".ui.service.AudioPlayService" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
</manifest>